body{
    font-family: 'Quicksand';
    
}

p{
    color:rgb(122, 117, 117);
}

.container-fluid{
    padding:3% 15%;
}

/* Navigation Bar */
.navbar{
    padding:0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Special Elite', cursive;
    font-size: 2.5rem;
    margin-left: 0;
} 

.nav-item{
    padding:0 18px;
}

.nav-link{
    font-size:1.5rem;
}



/* BUTTONS */
.download-button{
    margin:5% 3% 5% 0;
    
}
.download-button:hover{
    transform: scale(1.1);
    
}
/* HEADINGS */
.big-heading{
    font-family: 'Poppins';
    color:#ffffff;
    font-weight:600;
    font-size:3.5rem;
    line-height:1.5;
}

/* TITLE SECTION */
.container-fluid{
    padding:3% 15% 7%;
}

#title.container-fluid{
    padding:3% 15% 7%;
}
#intro{
    background-image: linear-gradient(#49274A, #94618E, #f8eee7, #fff);
}
#title{
    text-align: left;
}

.title-pic{
    width:40%;
    position: absolute;
    right:10%;
}

/* FEATURES */

.features-container{
    padding:20% 15% 10%;
}
.feature-box{
    padding:2%; 
    text-align: center;
}
.feature-icon{
    color:#94618E;
    
    margin-bottom: 1rem;
}

.feature-icon:hover{
    color:#49274A;
    transform: scale(1.1);
}


/* Reviews Section */
#reviews{
    background-color:#49274A;
    color:#fff;
}
.review-heading{
    font-family: 'Poppins';
    text-align: center;
    padding:5% 3% 0;
    font-weight:bold;
    font-size:3rem;
}
.review-text{
    color:#fff;
    text-align:justify;
    font-size: 16px;
}
#rating-text{
    color:#fff;
    text-align:left;
    font-size: 16px;
    display: inline-block;
}
.review-details{
    color:#fff;
}
.star-icon{
    color:goldenrod;
    display: inline;
}
.brand-image{
    width:10%;
}
.review-image{
    width:70%;
    border-radius:5%;
    margin:0 100px;
}

/* PRESS SECTION */
#press{
    text-align: center;
    background-color:#49274A;
    padding-bottom: 3%;
}

.press-logo{
    width:35%;
}

/* Sign up SECTION */
#signup{
    text-align: center;
    background-color:#f8eee7;
    padding:100px;
}

.signup-column{
    padding:3% 2%;
}
.signup-box{
    border:7px solid #94618E;
    background-color:#f8eee7;
    padding:10%;
}
.signup-box:hover{
    border:7px solid #94618E;
    background-color:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    transform:scale(1.1);
}
.signup-text{
    font-weight: 600;
    font-size:2.8rem;
    line-height:3rem;
}

/* CTA */
#cta{
    text-align: center;
    background-color:#94618E;
    color:white;
    font-size: 50px;
    
}
.download-button-cta{
    margin:5% 2% 0% 2%;
}
.download-button-cta:hover{
    transform: scale(1.1);
    
}

.cta-heading{
    font-size: 3.5rem;;
}
.cta-content{
    padding:7% 15% 7%;
}
/* Footer Section */
#footer{
    text-align: center;
}
.footer-content{
    padding:7% 7% 7%;
}
.social-icon{
    margin:20px 10px;
}

.social-icon:hover{
    color:#94618E;
}

@media (max-width: 1028px){
    
    *{
        text-align:center;
    }
    .navbar-brand{
        font-size: 1.5rem;
    } 
    .title-pic{
        width:40%;
        position: absolute;
        left: 30%;
        
    }
    .features-container{
        padding:50% 15% 10%;
    }
    .review-image{
        width:70%;
        border-radius:5%;
        margin:0 ;
    }
    .signup-text{
        font-size:2rem;
        width:100%
    }   
}


